#include "resource.h"
#include "winres.h"

IDI_ICON1       ICON        "..\\Resources\\Images\\icon.ico"

IDR_FONT1       FONT        "..\\Resources\\Fonts\\consola.ttf"

IDB_PNG1        PNG         "..\\Resources\\Images\\plank.png"
IDB_PNG2        PNG         "..\\Resources\\Images\\ball.png"
IDB_PNG3        PNG         "..\\Resources\\Images\\block.png"
