#include "resource.h"
#include "winres.h"

IDI_ICON1       ICON        "..\\Images\\icon.ico"

IDR_FONT1       FONT        "..\\Fonts\\consola.ttf"

IDB_PNG1        PNG         "..\\Images\\plank.png"
IDB_PNG2        PNG         "..\\Images\\ball.png"
IDB_PNG3        PNG         "..\\Images\\block.png"
